<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="title"><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= contact._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Full name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the contact's full Name"
                    name="name" 
                    value="<%= contact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Phone number</label>
                    <input type="text" class="form-control"
                    id="phoneNumTextField"
                    placeholder="Enter the contact's phone number"
                    name="number" 
                    value="<%= contact.number %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the contact's email"
                    name="email" 
                    value="<%= contact.email %>"
                    required>
                </div>
                <br>
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contact-list" class="btn btn-danger">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>