<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="title"><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= survey._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Survey name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a name for your survey"
                    name="name" 
                    value="<%= survey.name %>"
                    required>
                </div>

<!-- Bottom 2 items will need updating here, in list, and in survey controller -->

                <div class="form-group">
                    <label for="authorTextField">Survey Description</label>
                    <input type="text" class="form-control"
                    id="phoneNumTextField"
                    placeholder="Write a brief description of your survey"
                    name="number" 
                    value="<%= survey.number %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Your email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter your email address"
                    name="email" 
                    value="<%= survey.email %>"
                    required>
                </div>
                <br>
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey-list" class="btn btn-danger">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>