<div class="container">
  <h1 class="title highlight">Public surveys</h1>

  <p class="text-center">
    Anyone can respond to any active survey, however, to create a survey you
    must be <a href="/login" class="highlight">logged in</a>.
  </p>
  <hr />
  <div class="container text-center">
    <% if(displayName) { %>
    <a href="/template1" class="btn btn-dark" role="button">
      Create a multiple choice survey</a
    >

    <a href="/template2" class="btn btn-dark" role="button">
      Create a short answer survey</a
    >
    <% } %>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Survey</th>
            <th scope="col">Description</th>
            <th scope="col">Creator</th>
            <th scope="col">Expiration</th>
            <!-- Add an extra <th></th> here after time left to respond is added -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="surveyList">
          <!-- Repeatable Rows -->
          <% for(let count = 0; count < surveys.length; count++) { %>
          <tr>
            <td><%= surveys[count].name %></td>
            <td><%= surveys[count].description %></td>
            <td><%= surveys[count].creator %></td>
            <!-- Add a time left to respond attribute -->
            <td><%= surveys[count].expiration %></td>

            <!-- This is set to allow only annonymous users to respond to surveys, there is an id conflict (survey id & user id) if an authenticated user tries to respond to a survey. -->
            <td class="text-center col-1">
              <% if(new Date() > surveys[count].expiration) { %>
              <a href="/responses-list/<%= surveys[count]._id %>"
                class="btn btn-warning btn-sm">Results</a>
              <%} else if(!displayName) { %>
              <a
                href="/survey-respond/<%= surveys[count]._id %>"
                class="btn btn-success btn-sm">Respond</a>
              <% } %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
