<div class="container">
    <h1 class="title highlight">Public Surveys</h1>
    <% if(displayName) { %>
    <a href="/survey-add" class="btn btn-dark" role="button">
        <i class="fas fa-plus-circle "></i> Add a Survey</a>
    <% } %>

    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Survey</th>
                        <th scope="col">Description</th>
                        <th scope="col">Creator</th>
                        <% if(displayName) { %>
                        <th></th>
                        <th></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody id="surveyList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < surveys.length; count++) { %>
                        <tr>
                            <td><%= surveys[count].name %></td>
                            <td><%= surveys[count].number %></td>
                            <td><%= surveys[count].email %></td>

                            <% if(displayName) { %>
                            
                            <td class="text-center col-1">
                                <a href="/survey-edit/<%= surveys[count]._id %>"
                                    class="btn btn-success btn-sm">Edit</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/survey-delete/<%= surveys[count]._id %>"
                                    class="btn btn-danger btn-sm">Delete</a>
                            </td>

                            <% } %> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>