<div class="container">
  <h1 class="lead text-center">Response to <span class="highlight title"><%= survey.name %></span>, by <span class="highlight title"><%= survey.creator %></span></h1>
  <p class="text-center">
    <%= survey.description %>
  </p>
  <hr />
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th class="col-2">Your answer</th>
            <th>Survey Question</th>
          </tr>
        </thead>
        <tbody id="questionList">
          <% for(let count = 0; count < survey.questions.length; count++) { %>
          <tr>
            <td>
              <textarea class="form-control" name="responses" id=""></textarea>
            </td>
            <td><p><%= survey.questions[count] %></p></td>
          </tr>
          <% } %>
          <input hidden value="<%= survey.id%>" id="surveyID"></textarea>
        </tbody>
      </table>
      <div class="text-center">
        <a onclick="publishResponse()" class="btn btn-dark btn-publish">Publish Response</a>
      </div>
    </div>
  </div>
</div>

<script>
  const questionList = document.getElementById("questionList");

  function publishResponse() {
    const publishBtn = document.querySelector(".btn-publish");
    publishBtn.innerHTML = "Publishing...";

    const fields = document.querySelectorAll("#questionList .form-control");
    const data = {
      survey: document.getElementById("surveyID").value,
    };

    fields.forEach((field) => {
      if (field.name === "responses") {
        if (!data[field.name]) {
          data[field.name] = [];
        }
        data[field.name].push(field.value);
        return;
      }
      data[field.name] = field.value;
    });
    console.log(data);

    fetch("/responses-add", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    })
      .then((res) => {
        console.log("Request complete! response:", res);
        location.href = "/survey-list";
      })
      .catch((err) => {
        console.log("Request failed", err);
        alert("Error publishing response " + err.toString);
      })
      .finally(() => {
        publishBtn.innerHTML = "Publish Response";
      });
  }
</script>
